<?xml version="1.0" ?>

<launch>
  <arg name="__ns" default=""/>
  <arg name="eval_underscore_bypass" value="$(arg __ns)"/>
  <arg if="$(eval eval_underscore_bypass == '')" name="prefix" default=''/> 
  <arg unless="$(eval eval_underscore_bypass == '')" name="prefix" default="$(arg __ns)/"/>
  <arg name="mapping_method" default="gmapping"/>

<!-- Launching the amcl node with correct parameters -->
  <include file="$(find robotont_thesis_pkg)/launch/amcl.launch">
      <arg name="__ns" value="$(arg __ns)"/>
  </include>

  <include file="$(find robotont_demos)/launch/2d_slam_navigation.launch">
    <arg name="__ns" value="$(arg __ns)"/>
  </include>
  
  <include file="$(find robotont_thesis_pkg)/launch/transforms.launch">
        <arg name="__ns" value="$(arg __ns)"/>
  </include> 

<!-- for using ar track with camera  -->
 <include file = "$(find robotont_laserscan_to_distance)/launch/distance_from_depth_image.launch"/>
</launch>