<?xml version="1.0" ?>

<launch>
  <arg name="__ns" default=""/>
  <arg name="eval_underscore_bypass" value="$(arg __ns)"/>
  <arg if="$(eval eval_underscore_bypass == '')" name="prefix" default=''/> 
  <arg unless="$(eval eval_underscore_bypass == '')" name="prefix" default="$(arg __ns)/"/>
  <arg name="mapping_method" default="gmapping"/>

  <arg name="lidar" default="true"/>

  <include file="$(find robotont_thesis_pkg)/launch/amcl.launch">
      <arg name="__ns" value="$(arg __ns)"/>
  </include>

  <include file="$(find robotont_navigation)/launch/move_base.launch">
    <arg name="__ns" value="$(arg __ns)"/>
  </include>
   
  <include file="$(find robotont_thesis_pkg)/launch/transforms.launch">
        <arg name="__ns" value="$(arg __ns)"/>
  </include>   

  <group if="$(arg lidar)">
    <include file = "$(find robotont_thesis_pkg)/launch/distance_from_depth_image_with_lidar.launch">
      <arg name="__ns" value="$(arg __ns)"/>
    </include>
  </group>

  <!-- <group unless="$(arg lidar)">
    <include file = "$(find robotont_thesis_pkg)/launch/distance_from_depth_image_without_lidar.launch">
            <arg name="__ns" value="$(arg __ns)"/>
    </include>
  </group>  -->


  <!-- <include file="$(find robotont_thesis_pkg)/launch/ar_detection.launch">
        <arg name="__ns" value="$(arg __ns)"/>
  </include>    -->

  

</launch>