<?xml version="1.0" ?>

<launch>
  <arg name="__ns" default=""/>
  <arg name="eval_underscore_bypass" value="$(arg __ns)"/>
  <arg if="$(eval eval_underscore_bypass == '')" name="prefix" default=''/> 
  <arg unless="$(eval eval_underscore_bypass == '')" name="prefix" default="$(arg __ns)/"/>
<!-- static transforms for laser (lidar)-->
<node pkg="tf" type="static_transform_publisher" name="base_footprint_to_lidar" args="0 0 0.1 0 0 0 1 $(arg prefix)base_footprint $(arg prefix)laser 100" />

</launch>